.content {
	.style {
	  color: red;
	}
}


.labelTitle {
  color: gray;
  float: left;
  padding-right: 70px;
}

body {
  background: #170707;
}

.labelIcon {
  color: gray;
  cursor: pointer;
  padding-left: 28px;
  &:hover {
    color: #544b4b;
  }
}


.cardsMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cardsWordTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mouse {
	cursor: pointer;
}

.row-centered {
  text-align: center;
  .col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: -4px;
    margin-top: 40px;
  }
}

.center-row-middle {
  margin-top: 10px;
}

.image {
  height: 290px;
  margin-bottom: 0px;
  .layer {
    margin: 0 50px;
  }
}


#wrapper {
  margin-left: 49px;
  margin-right: 60px;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  visibility: hidden;
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
-webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  &.ativarNote {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}



#sidebar {
  float: left;
  padding: 5px;
  width: 157px;
  margin-left: 0px;
  color: white;
  background-color: gray;
}

#content {
  float: right;
  padding: 5px;
  width: 90px;
  margin-left: 0px;
  background-color: gray;
}


.noteTest{
  visibility: visible;
}

.aNotifications {
  color: #abd1d8;
  text-decoration: none;
}

#cleared {
  clear: both;
}

.card-container {
  position: relative;
  height: 290px;
  .rn-carousel-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    .rn-carousel-control-prev {
      display: none;
    }

    .rn-carousel-control-next {
      color: #a70038;
      position: absolute;
      width: 50px;
      height: 50px;
      display: block;
      background-color: #170707;
      padding: 9px 0;
      border-radius: 30px;
      border-color: #a70038;
      line-height: 1.42;
      border-style: solid;
      border-width: 2px;
      &:before {
        content: 'S';
      }
    }
  }

  .erase-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    color: gray;
    background-color: #170707;
    text-align: center;
    padding: 6px 0;
    font-size: 19px;
    line-height: 1.42;
    border-radius: 30px;
    &:hover {
      color: #e4e4e4;
      border-color: #e4e4e4;
      background-color: #2f2f2f;
    }
    &:focus{
      outline-width: 0;
    }
  }
}



.indexCount {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.buttonNameStyle {
  font-size: 11px;
  color: gray;
  text-align: right;
  vertical-align: bottom;
  margin-top: 66px;
  opacity: 0.5;
  margin-right: 135px;
}
