.content {
	.style {
	  color: red;
	}
}

.labelTitle {
  color: gray;
  margin-top: 70px;
  text-align: left;
  cursor: pointer;
  margin-left: 47px;
}

.mouse {
	cursor: pointer;
}

.row-centered {
  text-align: center;
  .col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: -4px;
    margin-top: -4px;
  }
}

.center-row-middle {
  margin-top: 10px;
}

.image {
  height: 270px;
  .layer {
    margin: 0 50px;
  }
}


#wrapper {
  margin-left: 49px;
  margin-right: 60px;
  visibility: visible;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
}

#sidebar {
  float: left;
  padding: 5px;
  width: 157px;
  margin-left: 0px;
  color: white;
  background-color: gray;
}

#content {
  float: right;
  padding: 5px;
  width: 90px;
  margin-left: 0px;
  background-color: gray;
}

.aNotifications {
  color: #abd1d8;
  text-decoration: none;
}

#cleared {
  clear: both;
}

.card-container {
  position: relative;
  height: 280px;
  .rn-carousel-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    .rn-carousel-control-prev {
      display: none;
    }

    .rn-carousel-control-next {
      color: #a70038;
      position: absolute;
      width: 50px;
      height: 50px;
      display: block;
      background-color: white;
      padding: 9px 0;
      border-radius: 30px;
      border-color: #a70038;
      line-height: 1.42;
      border-style: solid;
      border-width: 2px;
      &:before {
        content: 'S';
      }
    }
  }

  .erase-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  color: gray;
  background-color: white;
  text-align: center;
  padding: 6px 0;
  font-size: 19px;
  line-height: 1.42;
  border-radius: 30px;
  }
}

.indexCount {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.buttonNameStyle {
  font-size: 11px;
  color: gray;
  text-align: right;
  vertical-align: bottom;
  margin-top: 66px;
  opacity: 0.5;
  margin-right: 135px;
}
