.content {
	.style {
	  color: red;
	}
}

.mouse {
	cursor: pointer;
}

.row-centered {
  text-align: center;
  .col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: -4px;
    margin-top: -4px;
  }
}

.center-row-middle {
  margin-top: 100px;
}

.image {
  height: 500px;
  .layer {
    margin: 0 50px;
  }
}


.card-container {
  position: relative;
  height: 400px;
  .rn-carousel-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    .rn-carousel-control-prev {
      display: none;
    }

    .rn-carousel-control-next {
      color: black;
      display: block;
      background-color: red;
      border-radius: 4px;
      padding: 5px;
      &:before {
        content: 'Próximo';
      }
    }
  }
}