<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
  <meta name="viewport" content="width=device-width">
  <title>Flash Cards</title>

  <!-- inject:css -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

</head>
<body ng-controller="flipperDemo" data-gr-c-s-loaded="true" class="ng-scope">
<flipper flipped="flipped" horizontal ng-click="flip()" class="mouse">
  <front>
    the front!
  </front>
  <back>
    the back!
  </back>
</flipper>

<flipper flipped="flipped" vertical ng-click="flip()" class="mouse">
  <front>
    <h1>
      Run
    </h1>
  </front>
  <back>
    <h2>
      Meaning:
    </h2>
    <p>
      "to walk very fast."
    </p>
  </back>
</flipper>
</body>
</html>